body {
    height: 100%;
    font-family: 'source-sans-pro-regular', sans-serif, helvetica, arial;
    font-weight: bold;
    color: white;
    font-size: 15px;
    text-align: center;
}
.border {
    border: 2px solid #fff;
    border-radius: 12px;
}
.main {
    background: #0099FF;
    width: 700px;
    height: 520px;
    margin: 40px;
    display: flex;
    justify-content: space-between;
}

nav {
    width: 175px;
    height: 96.3%;
    margin: 1%;
    display: flex;
}
ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}
li {
    display: inline-block;
    width: 167px;
    height: 20px;
    margin: 5px 2px 0 2px;
    padding-top: 5px;
}

ul > li:nth-of-type(5) {
    height: 116px;
    margin-top: 8px;
}
ul > li:nth-of-type(5) > ul > li:first-of-type {
    margin: 1px;
    padding: 0;
}
ul > li:nth-of-type(5) > ul > li {
    width: 80%;
    height: 18px;
}

header {
    width: 497px;
    height: 16%;
    margin-top: 1%;
    float: left;
}
header > h4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    border-style: dotted;
    flex-basis: 350px;
    width: 350px;
    height: 79%;
    margin: 1% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: flex-end;
    float: left;
}

.img {
    height: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.img p {
    height: 18%;
    padding-top: 10px;
    margin: 4px;   
}

article {
    width: 47%;
    height: 159px;
    margin-top: 3px;
}

footer {
    width: 97%;
    height: 57px;
}
footer > p {
    margin: 20px;
}

aside {
    width: 137px;
    height: 78%;
    margin: 2% 1%;
    float: left;
}
aside > p {
    margin-top: 130%;
}