body {
    height: 100%;
    font-family: 'source-sans-pro-regular', sans-serif, helvetica, arial;
}
ul {
    margin-left: 45px;
    margin-top: 45px;
    padding: 4px;
}
li{
    display: inline-block;
    width: 23%;
    height: 250px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 0;
    background-size: cover;
    vertical-align: text-bottom;
    color: white;
    position: relative;
}
li h2 {
    margin: 0;
    padding-top: 3%;
    position: relative;
    height: 12%;
    top: 85%;
    font-size: 20px;
    text-align: center;
    vertical-align: text-bottom;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
}
li:hover > h2 {
    height: 97%;
    top: 0;
    transition: all 0.5s ease-in-out;
}
li > h1 {
    opacity: 0;
    width: 100%;
    margin: auto;
    position: absolute;
    top: 30%;
    font-size: 60px;
    text-align: center;
    vertical-align: text-bottom;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}
li > h1 > span {
    font-size: 25px;
}
li:hover > h1 {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}
article {
    border: 1px solid #CCCCCC;
    background: #F7F7F7;
    width: 500px;
    height: auto;
}
.detail {
    display: none;
    color: #616162;
}
li:active + .detail {
    display: table;
}
.detail tr {
    width: 50px;
    height: 50px;
}
.detail th {
    text-transform: uppercase;
    color: #39C2D7;
    font-size: 30px;
    font-weight: bold;
    width: 50px;
    height: 50px;
}
.detail td {
    text-transform: capitalize;
    color: #464547;
}


li:nth-of-type(1) {
    background-image: url('../img/canada.jpeg');
}
li:nth-of-type(3) {
    background-image: url('../img/china.jpeg');
}
li:nth-of-type(5) {
    background-image: url('../img/czech.jpg');
}
li:nth-of-type(7) {
    background-image: url('../img/germany.jpeg');
}
li:nth-of-type(9) {
    background-image: url('../img/hong_kong.jpeg');
}
li:nth-of-type(11) {
    background-image: url('../img/HUNGARY.jpg');
}
li:nth-of-type(13) {
    background-image: url('../img/INDIA.jpeg');
}
li:nth-of-type(15) {
    background-image: url('../img/IRELAND.jpeg');
}
li:nth-of-type(17) {
    background-image: url('../img/KAZAKHSTAN.jpg');
}
li:nth-of-type(19) {
    background-image: url('../img/MEXICO.jpeg');
}
li:nth-of-type(21) {
    background-image: url('../img/NETHERLANDS.jpeg');
}
li:nth-of-type(23) {
    background-image: url('../img/POLAND.jpg');
}