p {
    color: #464547;
    font-size: 70px;
    margin: auto 30px;
    font-family: 'source-sans-pro-regular', sans-serif, helvetica, arial;
}
p::before {
    content: '';
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: auto -10px;
    border-top: 5px solid #39C2D7;
    border-left: 5px solid #39C2D7;
    transform: rotate(-45deg);
}
p::after {
    content: '';
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: auto -10px;
    border-top: 5px solid #39C2D7;
    border-left: 5px solid #39C2D7;
    transform: rotate(135deg);
}