@font-face {
    font-family: Fugue;
    src: url(../fonts/Fugue/fugue_regular.woff);
}
@font-face {
    font-family: BauProMedium;
    src: url(../fonts/BauPro/329A31_0_0.woff);
}

@font-face {
    font-family: BauPro;
    src: url(../fonts/BauPro/329A31_1_0.woff);
}

@font-face {
    font-family: 'Fugue Tails';
    src: url(../fonts/font-cache.woff) format("woff");
    font-style: normal;
    font-weight: 400;
    font-stretch: normal
}

/*@import url(//fonts.googleapis.com/css?family=Ropa+Sans);*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    height: 100%;
    overflow-x: hidden;
    font-family: Fugue;
    background-image: url(../img/hologram.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    width: 100%;
    height: 230px;
    /*border: 1px dotted #000;*/
    position: relative;
}

.logo {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 150px;
    top: 140px;
    z-index: 50;
}
.text-rotate {
    position: absolute;
    left: -148px;
    top: -138px;
    transform-origin: center center 0px;
    transform: matrix(-0.7, 0, 0, -0.7, 0, 0);
}

.slogan {
    width: 215px;
    height: 215px;
    position: absolute;
    left: 1028px;
    top: 110px;
    font-family: Fugue;
    font-size: 43px;
    font-weight: 800;
}
section {
    background: white;
    position: relative;
    height: 2600px;
    z-index: 20;
}
nav {
    position: absolute;
    left: 838px;
    font-family: BauPro;
    font-size: 18px;
    text-transform: capitalize;
}
nav ul {
    margin-top: 20px
}
nav ul li {
    margin-top: 11px;
    margin-right: 60px;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

nav ul li:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .1s ease;
}
nav ul li:hover:before {
    width: 100%;
    background: black;
}
.about {
    position: absolute;
    left: 97px;
    top: 253px;
    font-family: 'Fugue Tails';
    font-size: 49px;
}
.who {
    position: absolute;
    left: 695px;
    top: 462px;
}
.who > h4 {
    font-family: BauProMedium;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 17px;
}
.who > p {
    font-family: BauPro;
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
}
.who > p:last-of-type {
    margin-top: 17px;
}
.work {
    position: absolute;
    left: 166px;
    top: 793px;
}
.work > img {
    position: absolute;
    left: -70px;
    top: -9px;
    height: 70px;
    width: 70px;
}
.work > p {
    font-family: Fugue;
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    z-index: 10;
}
.water {
    position: absolute;
    left: 429px;
    top: 178px;
    height: 715px;
    width: 561px;
    background-image: url('../img/water.png');
    z-index: -2;
}
.levijason {
    position: absolute;
    left: 129px;
    top: 348px;
    height: 306px;
    width: 460px;
    background-image: url('../img/UA5_LeviJason.jpg');
    background-size: contain;
    z-index: 15;
}
.description {
    position: relative;
    left: 700px;
    top: 1810px;
}
.description > p {
    font-family: BauPro;
    font-size: 18px;
    line-height: 31px;
    z-index: 10;
}
.picture {
    position: relative;
    left: 95px;
    top: 1951px;
}
.picture img:nth-of-type(1) {
    height: 582px;
    width: 461px;
}
.picture img:nth-of-type(2) {
    position: relative;
    left: 335px;
    top: -216px;
    height: 270px;
    width: 360px;
}