@font-face {
    font-family: Fugue;
    src: url(../fonts/Fugue/fugue_regular.woff);
}
@font-face {
    font-family: BauProMedium;
    src: url(../fonts/BauPro/329A31_0_0.woff);
}

@font-face {
    font-family: BauPro;
    src: url(../fonts/BauPro/329A31_1_0.woff);
}

@font-face {
    font-family: 'Fugue Tails';
    src: url(../fonts/font-cache.woff) format("woff");
    font-style: normal;
    font-weight: 400;
    font-stretch: normal
}

/*@import url(//fonts.googleapis.com/css?family=Ropa+Sans);*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    height: 100%;
    overflow-x: hidden;
    font-family: Fugue;
    background-image: url(../img/hologram.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    width: 100%;
    height: 230px;
    position: relative;
}

.logo {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 150px;
    top: 140px;
    z-index: 50;
}
.text-rotate {
    position: absolute;
    left: -148px;
    top: -138px;
    transform-origin: center center 0px;
    transform: matrix(-0.7, 0, 0, -0.7, 0, 0);
    transition: transform 1s ease-in;
}
.text-rotate:hover {
    transform:  matrix(0.7, 0, 0, 0.7, 0, 0);
    transition: transform 1s ease-in-out;
}

/*.logo > img:nth-of-type(1):hover {
    transform: scale(1.2);
}*/

.slogan {
    width: 215px;
    height: 215px;
    position: absolute;
    left: 1028px;
    top: 110px;
    font-family: Fugue;
    font-size: 43px;
    font-weight: 800;
}
section {
    background: white;
    position: relative;
    height: 5923px;
    z-index: 20;
}

#nav1 {
    position: absolute;
    left: 838px;
    font-family: BauPro;
    font-size: 18px;
    text-transform: capitalize;
}
#nav1 ul {
    margin-top: 20px
}
#nav1 ul li {
    margin-top: 11px;
    margin-right: 60px;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

#nav1 ul li:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .1s ease;
}
#nav1 ul li:hover:before {
    width: 100%;
    background: black;
}
.about {
    position: absolute;
    left: 97px;
    top: 253px;
    font-family: 'Fugue Tails';
    font-size: 47px;
}
.who {
    position: absolute;
    left: 695px;
    top: 462px;
}
h4 {
    font-family: BauProMedium;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 17px;
}
p {
    font-family: BauPro;
    font-weight: 400;
    font-size: 18px;
    line-height: 31px;
}
.who > p:last-of-type {
    margin-top: 17px;
}
.work {
    position: absolute;
    left: 166px;
    top: 793px;
}
.work > img {
    position: absolute;
    left: -70px;
    top: -9px;
    height: 70px;
    width: 70px;
}
h2 {
    font-family: Fugue;
    font-weight: 400;
    font-size: 48px;
    line-height: 62px;
    z-index: 10;
   
}

.water {
    position: absolute;
    left: 429px;
    top: 178px;
    height: 715px;
    width: 561px;
    background-image: url('../img/water.png');
    z-index: -2;
}
.levijason {
    position: absolute;
    left: 129px;
    top: 348px;
    height: 306px;
    width: 460px;
    background-image: url('../img/UA5_LeviJason.jpg');
    background-size: contain;
    z-index: 15;
}
.description {
    position: relative;
    left: 700px;
    top: 1810px;
}
.description > p {
    font-family: BauPro;
    font-size: 18px;
    line-height: 31px;
    z-index: 10;
}
.picture {
    position: relative;
    left: 95px;
    top: 1951px;
}
.picture img:nth-of-type(1) {
    height: 582px;
    width: 461px;
}
.picture img:nth-of-type(2) {
    position: relative;
    left: 335px;
    top: -216px;
    height: 270px;
    width: 360px;
}

.elaborate {
    position: relative;
    left: 696px;
    top: 1934px;
}
.elaborate h2 {
    position: relative;
    left: -601px;
    top: 124px;
}

.strategy-design-technology {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-template-rows: 31% 31% 31%;
    grid-gap: 15px;
    justify-items: center;
    align-items: center;
    margin-left: 4%;
    position: relative;
    top: 2180px;
}
.strategy-design-technology > div > h3 {
    font-family: 'Fugue Tails';
    font-size: 40px;
    margin: 24px 0;
}
.strategy-design-technology div img {
    height: 25px;
    transform: rotate(90deg)
}
.strategy-design-technology > div ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: BauPro;
    font-size: 18px;
    text-align: center;
}
.strategy-design-technology > div ul li {
    padding-top: 20px;
}

.picture2 {
    position: relative;
    left: 95px;
    top: 2286px;
}
.picture2 img:nth-of-type(1) {
    height: 496px;
    width: 660px;
}
.picture2 img:nth-of-type(2) {
    position: relative;
    left: 43px;
    top: -38px;
    height: 260px;
    width: 260px;
}
.picture2 div:nth-of-type(1) {
    position: relative;
    left: 600px;
    top: 170px;
}
.picture2 div:nth-of-type(2) {
    position: relative;
    left: 70px;
    top: 293px;
}
.picture2 div:nth-of-type(2) > img:nth-of-type(1) {
    position: relative;
    left: 330px;
    top: -41px;
    height: 614px;
    width: 458px;
    z-index: -2;
}
.picture2 div:nth-of-type(2) > img:nth-of-type(2) {
    position: relative;
    left: 266px;
    top: -337px;
    height: 164px;
    width: 260px;
}
.sliding {
    margin: 50px 0 0 350px;
    /*text-align: center;*/
    position: relative;
    width: 205px;
}
.sliding:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 50%;
    background: black;
    transition: width .5s ease, transform 2.5s ease;
}
.sliding::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 50%;
    background: black;
    transition: width .5s ease;
}
.sliding:hover::after {
    width: 0;
}
.sliding:hover::before {
    width: 0;
}
.sliding a {
    color: inherit;
    text-decoration: none;
}
.cohort {
    margin: 200px 0 80px 250px;
    text-align: center;
    position: relative;
    width: 805px;
    color: white;
}

#nav2 {
    position: relative;
    left: 0;
    top: 100px;
}
#nav2 ul {
    margin-left: 120px;
    margin-top: 45px;
    padding: 4px;
}
#nav2 ul li{
    display: inline-block;
    width: 325px;
    height: 292px;
    margin-right: 60px;
    margin-top: 10px;
    margin-bottom: 180px;
    padding: 0;
    background-size: cover;
    vertical-align: text-bottom;
    color: white;
    position: relative;
}

#nav2 ul li h5{
    margin-top: 320px;
    text-align: center;
    font-family: BauProMedium;
    font-size: 18px;
}
#nav2 ul li h5 span{
    font-family: BauPro;
}

#nav2 li:nth-of-type(1) {
    background-image: url('../img/UA5_Levi.jpg');
}
#nav2 li:nth-of-type(2) {
    background-image: url('../img/UA5_Jason.jpg');
}
#nav2 li:nth-of-type(3) {
    background-image: url('../img/UA_Bret.jpg');
}
#nav2 li:nth-of-type(4) {
    background-image: url('../img/UA5_Yuji.jpg');
}
#nav2 li:nth-of-type(5) {
    background-image: url('../img/UA5_Justin.jpg');
}
#nav2 li:nth-of-type(6) {
    background-image: url('../img/UA5_Troy.jpg');
}
#nav2 li:nth-of-type(7) {
    background-image: url('../img/UA5_Christine.jpg');
}
#nav2 li:nth-of-type(8) {
    background-image: url('../img/UA5_Ben.jpg');
}
#nav2 li:nth-of-type(9) {
    background-image: url('../img/UA5_Chris.jpg');
}
#nav2 li:nth-of-type(10) {
    background-image: url('../img/UA5_Jenni.jpg');
}
#nav2 li:nth-of-type(11) {
    background-image: url('../img/UA5_Samantha.jpg');
}
#nav2 li:nth-of-type(12) {
    background-image: url('../img/UA5_Ryan.jpg');
}

.engagements {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-template-rows: 46% 46%;
    grid-gap: 15px;
    justify-items: center;
    align-items: center;
    margin-left: 25px;
    margin-top: -150px;
}
.engagements div {
    margin-top: 244px;
    margin-left: 40px;
    text-align: center;
}
.engagements div img {
    max-width: 250px;
}

.line {
    margin-top: 310px;
    margin-left: 70px;
    width: 90%;
    height: 3px;
    background: white;
    color: white;
    text-align: center;
    font-family: BauProMedium;
    font-size: 18px;
}
.line + p {
    margin-top: 70px;
    color: white;
    text-align: center;
    font-family: BauProMedium;
    font-size: 18px;
}