$bodyFont: normal 14px/20px Arial, Helvetica, sans-serif;

$bodyBackground: #DDBC9A;

$contentBackground: #fff;

$headingColor: #8C3D01;

$linkColor: blue;

$headingStyle: italic;

$h2PpaddingBottom: 8px;

$h1FontSize: 31px;

$h2FontSize: 24px;

$imgLeftMarginBotoom: 30px;

$imgBorderColor: #8C3D01;
$imgBorderWidth: 2px;
$imgPaddind: 3px;


$briefWidth: 360px;
$briefBackground: #FADCBA;

$tableWidth: 82%;
$firstColumnWidth: 375px;
$thBorder: 1px solid white;
$thHeight: 45px;

$thBackground: #E0E0E0;

$tdBackground: #FFFFFF;
$tdPadding: 13px 10px 12px 25px;
$thBorderColor: $thBackground;