$bodyFont: normal 17.4px/23px Georgia, "Times New Roman", Times, serif;

$color: white;

$bodyBackground: #659A01;

$contentBackground: #666701;

$headingColor: #FFCD10;

$linkColor: $headingColor;

$headingStyle: normal;

$h2PpaddingBottom: 11px;

$h1FontSize: 37px;

$h2FontSize: 28px;

$imgLeftMarginBotoom: 21px;

$imgBorderColor: white;
$imgBorderWidth: 1px;
$imgPaddind: 10px;


$briefWidth: 1080px;
$briefBackground: #667D01;

$tableWidth: 100%;
$firstColumnWidth: 470px;
$thBorder: none;
$thHeight: 45px;

$thBackground: #94A34E;

$tdBackground: $briefBackground;
$tdPadding: 12px 20px 12px 25px;
$thBorderColor: #B4C082;