* {
  box-sizing: border-box;
}

body {
  padding: 40px;
  font: normal 14px/1.2 Arial, Helvetica, sans-serif;;
  color: #333;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
li {
    display: inline-block;
}

li a {
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.main-nav {
    margin-bottom: 15px;
    margin-left: 145px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.main-nav > ul > li {
    margin-right: 4vw;
    padding: 0;
    text-align: center;
    color: #333;
    font-weight: bold;
}

.main-nav > ul > li:hover {
  color: #39c2d7;
}

.main-nav > img {
  width: 150px;
  margin: 0 20px 0 0;
}

.banner-wrap {
  position: relative;
  margin: 0;
  padding: 0 0 calc(420/1320*100%);
  background: #ccc;
}

.banner-wrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.banner {
  position: relative;
  
}

.banner > h1 {
  position: absolute;
  top: 6%;
  left: 150px;
  margin: 0;
  width: 40%;
  color: #fff;
  font-size: 3.5vw;
}

.img {
    display: flex;
    justify-content: space-around;
}

.img > ul {
    margin: 10px 130px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.img > ul > li {
    display: inline-block;
    width: 28%;
    background: #ccc;
    margin: 10px auto;
    padding: 10px;
    text-align: left;
    color: #333;
    transition: all 0.4s ease-in-out;
}

.img > ul > li:hover {
    background: #39c2d7;
}

.img > ul > li > h3 {
  margin: 10px 0;
}

.img > ul > li > p {
  font-size: 12px;
}

.img-wrap {
  position: relative;
  margin: 0;
  padding: 0 0 calc(160/300*100%);
  background: #ccc;
}

.img-wrap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

footer {
  padding: 20px 0;
  height: 60px;
  background: #39c2d7;
  color: white;
}

footer nav {
  margin: 0 0 0 155px;
}

  
footer ul {
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

footer ul li {
  margin-right: 30px;
}

footer ul li a {
  text-transform: none;
}


@media all and ( max-width: 900px ) {

  .main-nav {
    width: 76%;
    margin: 0 auto 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .main-nav > img {
    padding: 10px;
    margin: 10px 8vw;
  }

  .main-nav > ul > li {
    margin-right: 1vw;
   
  }

  .banner-wrap {
    padding: 0 0 calc(420/420*50%);
  }
  
  .banner-wrap img {
    height: 100%;
  }

  .banner > h1 {
    top: 0;
    left: 0;
    width: 100%;
    margin: 30px auto;
    padding: 0 8%;
    font-size: 30px;
    text-align: center;
  }

  .img > ul {
    margin: 10px;
  }

  .img > ul > li {
    width: 48%;
    padding: 6px;
    margin: 7px auto;
  }

  footer {
    padding: 0;
    font-size: 12px;
  }

  footer nav {
    width: 65%;
    margin: 0 auto;
  }

  footer ul {
    justify-content: center;
  }

  footer ul li {
    margin: 7px;
  }

}


@media all and ( max-width: 450px ) {
  
  .main-nav {
    width: 100%;
    font-size: 17px;
    margin-bottom: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }
 
  .main-nav ul li {
    display: block;
    margin: 2px 0 0 0;
    background: #EEEEEE;
     padding: 0;
    text-align: left;
    color: #333;
    font-weight: bold;
  }

  .main-nav > img {
    align-self: center;
    margin: 0;
    padding: 15px;
  }
  
  .main-nav ul li a {
    display: block;
    padding: 10px 0 10px 30px;
    width: 100%;
    height: 100%;
  }

  .banner > h1 {
    top: 70px;
    left: 0;
    width: 100%;
    margin: 30px auto;
    padding: 0 8%;
    font-size: 14px;
    text-align: left;
  }

  .img > ul {
    margin: 10px;
  }

  .img > ul > li {
    width: 100%;
    padding: 5px;
    margin: 5px auto;
  }
  
  .main-nav > ul > li:hover {
    color: #39c2d7;
  }

  footer {
    padding: 0;
    font-size: 12px;
    height: 100px;
  }

  footer nav {
    width: 100%;
    margin: 0 auto;
  }

  footer ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer ul li {
    margin: 3px 0;
    text-decoration: underline;
  }

  footer ul li:first-child {
    margin-top: 10px;
  }

  footer ul li:last-child {
    margin-top: 10px;
    text-decoration: none;
  }

}