body {
    height: 100%;
    font-family: 'source-sans-pro-regular', sans-serif, helvetica, arial;
}
ul {
    margin-left: 45px;
    margin-top: 45px;
    padding: 4px;
}
li{
    display: inline-block;
    width: 23%;
    height: 250px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 0;
    background-size: cover;
    vertical-align: text-bottom;
    color: white;
    position: relative;
}
li h2 {
    margin: 0;
    padding-top: 3%;
    position: relative;
    height: 12%;
    top: 85%;
    font-size: 18px;
    text-align: center;
    vertical-align: text-bottom;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
}
li:hover h2 {
    height: 97%;
    top: 0;
    transition: all 0.5s ease-in-out;
}
li h1 {
    opacity: 0;
    width: 100%;
    margin: auto;
    position: absolute;
    top: 30%;
    font-size: 70px;
    text-align: center;
    vertical-align: text-bottom;
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;
}
li a {
    text-decoration: none;
    color: inherit;
}
h1 span {
    font-size: 25px;
}
li:hover h1 {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}
article {
    border: 1px solid #CCCCCC;
    background: #F7F7F7;
    width: 110%;
    height: auto;
    color: #616162;
}
#india {
    display: none;
}
#india:target {
    display: table; /* how to wrap in new row and remain country cell flow ??? */
}
tr {
    height: 10px;
}
td {
    padding-left: 40px;
    width: 300px;
    text-transform: capitalize;
    color: #464547;
}
td img {
    margin-bottom: -4px;
    margin-left: -20px; 
}
td:nth-child(1) {
    border-right: 1px solid #cccccc;
}

tr:nth-child(2) {
    font-weight: 800;
    height: 80px;
}
tr:nth-last-child(2) {
    font-weight: 800;
    height: 50px;
}
tr:nth-last-child(2) > td {
    color: #7F993A;
}
tr:nth-last-child(2) > td span {
    font-size: 15px;
    font-weight: 600;
}
th {
    text-transform: uppercase;
    color: #39C2D7;
    font-size: 30px;
    font-weight: bold;
    width: 50px;
    height: 50px;
    padding-left: 80px;
    padding-top: 15px;
}
th:nth-child(2) {
    font-weight: 300;
    font-size: 13px;
    color: #cccccc;
    /*text-align: right;*/
    vertical-align: text-top;
    padding-left: 850px;
}



li:nth-of-type(1) {
    background-image: url('../img/canada.jpeg');
}
li:nth-of-type(2) {
    background-image: url('../img/china.jpeg');
}
li:nth-of-type(3) {
    background-image: url('../img/czech.jpg');
}
li:nth-of-type(4) {
    background-image: url('../img/germany.jpeg');
}
li:nth-of-type(5) {
    background-image: url('../img/hong_kong.jpeg');
}
li:nth-of-type(6) {
    background-image: url('../img/HUNGARY.jpg');
}
li:nth-of-type(7) {
    background-image: url('../img/INDIA.jpeg');
}
li:nth-of-type(9) {
    background-image: url('../img/IRELAND.jpeg');
}
li:nth-of-type(10) {
    background-image: url('../img/KAZAKHSTAN.jpg');
}
li:nth-of-type(11) {
    background-image: url('../img/MEXICO.jpeg');
}
li:nth-of-type(12) {
    background-image: url('../img/NETHERLANDS.jpeg');
}
li:nth-of-type(13) {
    background-image: url('../img/POLAND.jpg');
}